<nav id="pav-megamenu" class="navbar navbar-default">
	<div class="navbar-header">
	  	<button data-toggle="offcanvas" class="btn btn-offcanvas btn-toggle-canvas offcanvas hidden" type="button">
          	<i class="fa fa-bars"></i>
        </button>
	</div>
	<div class="collapse navbar-collapse hidde-sm hidden-xs" id="bs-megamenu">
		{{ treemenu }}
	</div>
</nav>